%li  
  %a{href:"#{url_for("/tables")}"}
    Tables
%li
  %a{href:"#{url_for("/views")}"}
    Views
%li
  %a{href:"#{url_for("/routines")}"}
    Routines
%li
  %a{href:"#{url_for("/columns")}"}
    Columns
%li
  %a{href:"#{url_for("/query")}"}
    Query
%li
  %a{href:"#{url_for("/logout")}"}
    Logout
