%ul.nav.navbar-nav
  %li  
    %a{href:"#{url_for("/tables")}"}
      Tables
  %li
    %a{href:"#{url_for("/views")}"}
      Views
  %li
    %a{href:"#{url_for("/routines")}"}
      Routines
  %li
    %a{href:"#{url_for("/columns")}"}
      Columns
  %li
    %a{href:"#{url_for("/query")}"}
      Query
  %form.navbar-form.navbar-left{id: "search", action: "#{url_for("/search")}", method: "POST"}
    .form-group
      %input.form-control#query{type: "TEXT", name: "query", autofocus: true, placeholder: "Search"}
  %li.navbar-right
    %a{href:"#{url_for("/logout")}"}
      Logout
