%ul.nav.navbar-nav
  %li
    %a{href:"#{url_for("/connections")}"}
      Connections
  %li  
    %a{href:"#{url_for("/tables")}"}
      Tables
  %li
    %a{href:"#{url_for("/views")}"}
      Views
  %li
    %a{href:"#{url_for("/routines")}"}
      Routines
  %li
    %a{href:"#{url_for("/columns")}"}
      Columns
  %li
    %a{href:"#{url_for("/query")}"}
      Query
  %form.navbar-form.navbar-left{id: "search", action: "#{url_for("/search")}", method: "GET"}
    .form-group
      %input.form-control#query{type: "TEXT", name: "query", autofocus: true, placeholder: "Search"}
  %form.navbar-form.navbar-left{id: "note", action: "#{url_for("/notes")}", method: "POST"}
    .form-group
      %input.hidden{name:"path", value:path}
      %input.form-control#note{type: "TEXT", name: "note", placeholder: "Add a Note"}
      %input{type:"submit"}
  %li.navbar-right
    %a{href:"#{url_for("/logout")}"}
      Logout
