%ul.nav.navbar-nav
  %li
    .dropdown
      %button.btn.btn-default.dropdown-toggle{type: "button", id:"links", data:{toggle: "dropdown"}, aria:{expanded:"true"}}
        =current_connection.nil? ? "Connections" : current_connection.database
        %span.caret
      %ul.dropdown-menu{role:"menu", aria:{labelledby:"links"}}
        -connections.each do |conn|
          %li
            %a{href:"#{url_for("/database/#{conn.id}")}"}
              =conn.database
  %li  
    .dropdown
      %button.btn.btn-default.dropdown-toggle{type: "button", id:"links", data:{toggle: "dropdown"}, aria:{expanded:"true"}}
        
        %span.caret
      %ul.dropdown-menu{role:"menu", aria:{labelledby:"links"}}
        %li{role:"presentation"}
          %a{href:"#{url_for("/tables")}"}
            Tables
        %li{role:"presentation"}
          %a{href:"#{url_for("/views")}"}
            Views
        %li{role:"presentation"}
          %a{href:"#{url_for("/routines")}"}
            Routines
        %li{role:"presentation"}
          %a{href:"#{url_for("/columns")}"}
            Columns
        %li{role:"presentation"}
          %a{href:"#{url_for("/query")}"}
            Query
        %li
          %a{href:"#{url_for("/connections")}"}
            Connections
  %form.navbar-form.navbar-left{id: "search", action: "#{url_for("/search")}", method: "GET"}
    .form-group
      %input.form-control#query{type: "TEXT", name: "query", autofocus: true, placeholder: "Search"}
  %form.navbar-form.navbar-left{id: "note", action: "#{url_for("/notes")}", method: "POST"}
    .form-group
      %input.hidden{name:"path", value:path}
      %input.form-control#note{type: "TEXT", name: "note", placeholder: "Add a Note"}
      %input{type:"submit"}
  %li.navbar-right
    %a{href:"#{url_for("/logout")}"}
      Logout
