%img.headerimg{src: "/img/dragons.jpg"}
%form{role: "form", action: "database", method: "POST"}
  .form-group
    %label{for: "conn"}
      Connection String
    %input.form-control{type: "text", name:"conn", placeholder:"Enter your connection string"}
  %button.btn.btn-default{type:"submit"}
    Login
  %hr
  %h4
    Recent Connections
  -connections.each do |conn|
    .connection
      %a{href:"#{url_for("/database/#{conn.id}")}"}
        #{conn.adapter} #{conn.host}/#{conn.database}
:javascript
